<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="WcfServiceContract1.Calculator"
               behaviorConfiguration ="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/myService"/>
          </baseAddresses>
        </host>
        <endpoint address="/endpoint1" binding="wsHttpBinding" contract="WcfServiceContract1.ICalculator"/>
        <endpoint name="Endpoint2" address="/endpoint2" binding="basicHttpBinding" contract="WcfServiceContract1.ICalculator"/>
        <endpoint name="Endpoint3" address="http://localhost:20001/myService/endpoint3" binding="basicHttpBinding" contract="WcfServiceContract1.ICalculator"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceThrottling maxConcurrentCalls="5" maxConcurrentSessions="5" maxConcurrentInstances="5"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
